Package: HoangDinhPhong.Mix
Name: Mix
Author: Hoàng Đình Phong
Version: 1.0.0
Description: Tiện ích dành cho Xen Html
Section: Widgets
Depends: firmware (>=11.0), hoangdinhphong.fonts
Depiction: https://apple-phong.github.io/Info/Html/Mix.html
SileoDepiction: https://apple-phong.github.io/Info/Json/Mix.json
ModernDepiction: https://apple-phong.github.io/Info/Json/Mix.json
Tags: compatible_min::ios11.0, compatible_max::ios14.8.1
Icon: file:///Applications/Cydia.app/Sections/w.png
Architecture: iphoneos-arm
Maintainer: Hoàng Đình Phong
Homepage: https://apple-phong.github.io
