Package: HoangDinhPhong.Allrise
Name: Allrise
Architecture: iphoneos-arm
Depends: HoangDinhPhong.RingManager
Description: Nhạc chuông
 - Nhạc chuông nước ngoài
 - Ủng hộ tôi để phát triển mạnh hơn 👌
Maintainer: Hoàng Đình Phong
Author: Blue
Section: Nhạc chuông
Version: 0.0.1
Icon: file:///Applications/Cydia.app/Sections/r.png
