Package: HoangDinhPhong.TexGyre-Rootless
Name: Tex Gyre - Rootless
Author: Herb Lubalin
Version: 1.0.0
Description: Phông chữ sử dụng qua tiện ích Snowboard
Section: Fonts
Depends: firmware (>=15.0)
Depiction: https://apple-phong.github.io/Info/Html/TexGyre-Rootless.html
SileoDepiction: https://apple-phong.github.io/Info/Json/TexGyre-Rootless.json
ModernDepiction: https://apple-phong.github.io/Info/Json/TexGyre-Rootless.json
Tags: compatible_min::ios15.0, compatible_max::ios15.7.4
Icon: file:///Applications/Cydia.app/Sections/f.png
Architecture: iphoneos-arm64
Maintainer: Hoàng Đình Phong
Homepage: https://apple-phong.github.io
